/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/*COLORES INSTITUCIONALES*/
:root{
    --color-primary: #048B62;
    --color-secondary: #3BA389;
    --color-text: #FFF;
    --color-background:#00563C ;
    --color-alter-text: #AAA;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed",sans-serif;
    a {
        text-decoration: none;
        color: var(--color-alter-text)
    }
}

.btn-success{
    background-color: var(--color-secondary);
}
.btn-info{
    color: var(--color-text);
}
header{
    background-color: var(--color-background);
    color:var(--color-text);
    height: 10vh;
    .title{
        font-style: italic;
        text-align: center;
    }    
}

main{
    min-height: 70vh;
    .bloque{
        border: 2px solid var(--color-primary);
        border-radius: 15px;
        margin: 1%;
        padding: 1%;
    }
    .staticsTitle{
        background-color: var(--color-secondary);
        color: var(--color-text);
        border-radius: 10px;
        margin: 1%;
    }
    .botonera{
        padding: 16px;
    }
    .marco {
        background-color: var(--color-secondary);
        border: 2px solid var(--color-primary);
        border-radius: 15px;
        margin: 1%;
        padding: 1%;
        h3 ,h4{
            color: var(--color-text)
        }
    }
    .block{
        border: solid 2px var(--color-background);
        border-radius: 20px;
        padding: 20px;
        margin: 10px
    }
    .hide{
        display: none;
    }
    .show{
        display:block;
    }
}
.table{
    .green {
        background-color: green;
        color: white;
    }

    .yellow {
        background-color: yellow;
        color: black;
    }

    .red{
        background-color: red;
        color: white;
    }
}


footer{
    background-color: var(--color-background);
    color:var(--color-text);
    .imgFooter{
        max-width: 35px;
    }
}

/*ESTILOS PENSADOS MOBILE-FIRST*/

/*TABLET*/
@media (min-width: 768px) and (max-width: 969px){

    footer{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap-reverse;
        .footerMain{
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
    }
}

/*DESKTOP*/
@media (min-width: 970px){
    header{
        height: 25vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar{
        display: none;
    }
    .newTrip{
        width: 40%;
        padding: 5px;
    }
    .contenedor{
        display: flex;
        justify-content: space-around;
    }
    .bLeft{
        width: 30%;
    }
    .bRight{
        width: 65%;
    }
    footer{
        display: flex;
        justify-content: space-between;
        div{
            width: 25%;
            margin: 5px;
        }
        .footerMain{
            h4{
                text-align: center;
            }
        }
    }
}